option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.small
    EC2KeyName: YOUR-KEY-NAME
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    PORT: 8000
